@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to my BookStore";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bookstore Home</title>
</head>
<body>
<div style="text-align:center;">
    <!-- > for now I now it looks simplistic, did not have time lately<-->
    <h1>BookStore</h1>
    <button type="button">Login</button>
    <button type="button">Search Books</button>
</div>
</body>
</html>
